[Unit]
Description=csye6225
After=network.target
        
[Service]
Type=simple
User=csye6225
Group=csye6225g
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/home/admin/cs_env/bin/python /opt/csye6225/webapp/main.py
Restart=always
StandardError= syslog
SyslogIdentifier= csye6225
        
[Install]
WantedBy=multi-user.target


        
