annotated-types==0.5.0
bcrypt==4.0.1
certifi==2023.7.22
click==8.1.7
dnspython==2.4.2
email-validator==2.0.0.post2
fastapi==0.103.1
greenlet==3.0.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
jose==1.0.0
mysql-connector-python==8.1.0
numpy==1.26.0
pandas==2.1.1
passlib==1.7.4
protobuf==4.21.12
pydantic==2.4.1
pydantic-core==2.10.1
pytz==2023.3.post1
sqlalchemy==2.0.21
sqlalchemy-utils==0.41.1
starlette==0.27.0
tenacity==8.2.3
tzdata==2023.3
uvicorn==0.23.2
requests==2.31.0
psycopg2-binary==2.9.9
boto3
statsd